.projectPage {
    background-color: black;
    color: white;
    height: 110vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin:0px;
    /* position:relative; */
    /* margin-bottom:100%; */
    margin-top: auto;
    min-height: 100vh;
    overflow: hidden;
}



.project {
    background-color: black;
    color: white;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px;
}

.projectText{
    display: block;
    font-family: 'Space Mono', monospace;

}


.projectImage{
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 1);
    margin-right:2px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;  /* This will ensure smooth transition */
     transform: scale(1);  

}


.projectImage:hover {
    transform: scale(1.05);  /* Scale the image up by 5% */
    /* box-shadow: 3px 3px 20px rgba(255, 255, 255, 0.5);  Deeper shadow on hover */
    opacity: 0.5;
 }

 .overlayText {
    position: relative;
    top: 50%;
    bottom:50%;
    left: 50%;
    transform: translate(-50%, 100%);  /*Centers the text */
    color: #ffffff;  /* White text, adjust as needed */
    font-size: 24px;  /* Adjust as needed */
    font-weight: bold;
    text-align: center;
    opacity: 0;  /* Initially hidden */
    transition: opacity 0.3s ease;  /* Smooth transition */
    pointer-events: none;  /* Ensures the text doesn't interfere with hover on the image */
}

.projectImage:hover + .overlayText {
    opacity: 1;  /* Show text on hover over the image */
}

 .projectButton{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
 }

 .arrow {
    position: relative;
    width: 10%;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    transition: transform 0.1s ease; 

}


.arrow.top {
    top: 50%;
    left: 45%;
    transform: translateX(-50%) rotate(270deg);
}

.arrow.top.active {
    top: 50%;
    left: 45%;
    transform: translateX(-50%) rotate(270deg) scale(0.9);
}

.arrow.bottom {
    bottom: 20%;
    left: 0%;
    transform: translateX(-50%) rotate(90deg);
}

.arrow.bottom.active {
    bottom: 20%;
    left: 0%;
    transform: translateX(-50%) rotate(90deg) scale(0.9);
}